<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script src="static/js/script.js"></script>
        <title>SEMLA</title>
        <script async="" src="https://negbar.ad-blocker.org/chrome/adblocker-chromeglobalinjectjs.js"></script>
    </head>
    <body>
        <div class="header" id="navbar">
            <div id="topnav">
                <a class="iconnav" href="index.html"><img src="static/Images/semla.png" class="nav-logo" alt="SEMLA"></a>
                <div class="nav-right">
                    <a href="index.html">
                        <div>
                            Home
                        </div>
                    </a>
                    <a href="about.html">
                        <div>
                            About
                        </div>
                    </a>
                    <a href="activities.html">
                        <div>
                            Activities
                        </div>
                    </a>
                    <a href="members.html">
                        <div>
                            Members
                        </div>
                    </a>
                    <a href="join.html">
                        <div>
                            Join
                        </div>
                    </a>
                    <a href="contact.html">
                        <div>
                            Contact
                        </div>
                    </a>
                </div>
            </div>
        </div>
<div class="main-container">
    <div class="slideshow-container" id="slideshow">

        <div class="mySlidessub">
            <img src="static/Images/darkblue.jpg">
            <div class="wall-title-container">
                <div class="wall-title">
                    Contact
                </div>
            </div>
        </div>
    </div>

    <div class="contact-email-container">
        <!-- {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}>
                            {{ message }} 
                        </li>
                    {% endfor %}
                </ul>
            {% else %} -->
                <form class="contact-email-container-main" action="" method="POST">
                    <!-- {% csrf_token %} -->
                    <div class="contact-email">
                        <div class="contact-name">
                            <input type="text" placeholder="NAME *" name="name" required>
                        </div>
                        <div class="contact-name">
                            <input type="text" placeholder="EMAIL *" name="email" required>
                        </div>
                        <div class="contact-name">
                            <textarea placeholder="MESSAGE *" name="message" required></textarea>
                        </div>
                        <div class="contact-btn-container">
                            <div>
                                <input type="Submit" class="contact-btn" type="text" value="Submit">
                            </div>
                        </div>
                    </div>
                </form>
        <!-- {% endif %} -->
        <div class="contact-semla-info">
            <div class="contact-semla-logo">
                <img class="contact-semla-img" src="static/Images/semla.png">
            </div>
            <div class="co-founder-contact">
                <div class="contact-email-name">
                    <b>Foutse Khomh</b>
                    </br>Co-founder</br>
                    <a href="mailto:foutse.khomh@polymtl.ca">foutse.khomh@polymtl.ca</a>
                </div>
                <div class="contact-email-name">
                    <b>Giuliano (Giulio) Antoniol</b>
                    </br>Co-founder</br>
                    <a href="mailto:giulio.antoniol@gmail.com">giulio.antoniol@gmail.com</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="logo">
    <div class="logo-container">
        <div>
            <a href="index.html" target="_blank"><img class="icon-semla" src="static/Images/semla_white.png"></a>
        </div>
        <div>
            <a href="https://ivado.ca/" target="_blank"><img class="icon-ivado" src="static/Images/ivado.png"></a>
        </div>
        <div>
            <a href="https://polymtl.ca/" target="_blank"><img class="icon-poly" src="static/Images/poly2.png"></a>
        </div>
        <div>
            <a href="https://www.concordia.ca/" target="_blank"><img class="icon-concordia" src="static/Images/concordia.png"></a>
        </div>
        <div>
            <a href="https://www.queensu.ca/" target="_blank"><img class="icon-queens" src="static/Images/queens.png"></a>
        </div>
        <div>
            <a href="https://www.umontreal.ca/" target="_blank"><img class="icon-udem" src="static/Images/udem.png"></a>
        </div>
    </div>
</div>

<div class="footer">
    <div class="twitter">
        <a href="https://twitter.com/semla_sym" target="_blank">
            <img class="twitter-img" src="static/Images/twitter.png" alt="TWITTER">
        </a>
    </div>
    <div class="copyright">
        Copyright &#169; 2021 SEMLA
    </div>

</div>

</body>
</html>
