<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script src="static/js/script.js"></script>
        <title>SEMLA</title>
        <script async="" src="https://negbar.ad-blocker.org/chrome/adblocker-chromeglobalinjectjs.js"></script>
    </head>
    <body>
        <div class="header" id="navbar">
            <div id="topnav">
                <a class="iconnav" href="index.html"><img src="static/Images/semla.png" class="nav-logo" alt="SEMLA"></a>
                <div class="nav-right">
                    <a href="index.html">
                        <div>
                            Home
                        </div>
                    </a>
                    <a href="about.html">
                        <div>
                            About
                        </div>
                    </a>
                    <a href="activities.html">
                        <div>
                            Activities
                        </div>
                    </a>
                    <a href="members.html">
                        <div>
                            Members
                        </div>
                    </a>
                    <a href="join.html">
                        <div>
                            Join
                        </div>
                    </a>
                    <a href="contact.html">
                        <div>
                            Contact
                        </div>
                    </a>
                </div>
            </div>
        </div>  
    <div class="main-container">
        <div class="slideshow-container" id="slideshow">
            <div class="mySlidessub">
                <img src="static/Images/darkblue.jpg">
                <div class="wall-title-container">
                    <div class="wall-title">
                        Join Us
                    </div>
                </div>
            </div>
        </div>
        <div class="join-mission-container">
            <div class="join-mission">
                <img class="join-mission-img" src="static/Images/mission.png" alt="SEMLA">
            </div>
        </div>
        <div class="mission-title-container">
            <div class="mission-title">
                Our Mission
            </div>
        </div>
        <div class="mission-body-text-container">
            <div class="mission-body-text">
                Building complex intelligent software systems requires expertise both in Software
                Engineering and Machine Learning. SEMLA aims to bring together Software
                Engineering researchers from Quebec, and Canada in general to develop methods,
                tools, and technologies allowing the development of secure, reliable, and
                trustworthy intelligent applications.
            </div>
        </div>
        <div class="join-title-container">
            <div class="join-title">
                Join Us
            </div>
        </div>
        <!-- {% if messages %}
            <ul class="join-body-text">
                {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% else %} -->
            <form action="" method="POST">
                <!-- {% csrf_token %} -->
                <div class="join-body-text-container">
                    <div class="join-body-text">
                        <div class="join-name">
                            <div class="join-firstname">
                                <label class="required" for="firstname">First Name</label></br>
                                <input type="text" name="first_name" required>
                            </div>
                            <div class="join-lastname">
                                <label class="required" for="lastname">Last Name</label></br>
                                <input type="text" name="last_name" required>
                            </div>
                        </div>
                        <div class="join-email">
                            <label class="required" for="email">Email</label></br>
                            <input type="text" placeholder="example@domain.com" name="email" required>
                        </div>
                        <div class="join-phone">
                            <label for="phone">Phone Number</label></br>
                            <input type="text" placeholder="+1 999 999 99 99" name="phone_number">
                        </div>
                        <div class="join-organization">
                            <label for="organization">Organization Type</label></br>
                            <select name="organization_type" class="join-organization-select">
                                <option value="">Select your option</option>
                                <option value="0">Academy</option>
                                <option value="1">Industry</option>
                                <option value="2">Government</option>
                            </select>
                        </div>

                        <div class="join-comment">
                            <label for="comment">Comments</label></br>
                            <textarea name="comments"></textarea>
                        </div>

                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                        <div class="captcha-container">
                            <div class="captcha">
                                <div class="g-recaptcha" data-sitekey="6Lel4Z4UAAAAAOa8LO1Q9mqKRUiMYl_00o5mXJrR"></div>
                            </div>
                            <div class="join-btn-container">
                                <div>
                                    <input class="join-btn" type="Submit" value="Join Us">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        <!-- {% endif %} -->
    </div>
    <div class="logo">
        <div class="logo-container">
            <div>
                <a href="index.html" target="_blank"><img class="icon-semla" src="static/Images/semla_white.png"></a>
            </div>
            <div>
                <a href="https://ivado.ca/" target="_blank"><img class="icon-ivado" src="static/Images/ivado.png"></a>
            </div>
            <div>
                <a href="https://polymtl.ca/" target="_blank"><img class="icon-poly" src="static/Images/poly2.png"></a>
            </div>
            <div>
                <a href="https://www.concordia.ca/" target="_blank"><img class="icon-concordia" src="static/Images/concordia.png"></a>
            </div>
            <div>
                <a href="https://www.queensu.ca/" target="_blank"><img class="icon-queens" src="static/Images/queens.png"></a>
            </div>
            <div>
                <a href="https://www.umontreal.ca/" target="_blank"><img class="icon-udem" src="static/Images/udem.png"></a>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="twitter">
            <a href="https://twitter.com/semla_sym" target="_blank">
                <img class="twitter-img" src="static/Images/twitter.png" alt="TWITTER">
            </a>
        </div>
        <div class="copyright">
            Copyright &#169; 2021 SEMLA
        </div>
    
    </div>
    
    </body>
    </html>