@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('http://fonts.cdnfonts.com/css/metropolis-2');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #1a3857;
    font-family: 'Poppins', sans-serif;
    /*background-color: 97adc2;*/
}

/*------------------------------  Home Styles ------------------------------*/

.header{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 0.95;
    top: 0;

}

#topnav {
    background-color: white;
    z-index: 1;
    padding-left: 2em;
    margin: auto;

}


.iconnav{
    /*padding-top: 10px;*/
}

.nav-logo{
    width: 11em;
    height: 3em;
}

.nav-right{
    background-color: white;
    padding-right: 2em;
    padding-left: 2em;
    display: flex;
    float: right;
}


#topnav a {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav-right div{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.nav-right div:hover{
    background-color: #1a3857;
    color: white;
}


.french{
    font-weight: bold;
}

.nav-right .french:hover{
    color: black;
}


.home-wall-container{
    background-image: url("../Images/walles4.jpg");
    margin-top: 60px;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}



.home-text{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
}



.home-text-main{
    font-family: 'Metropolis', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-top: 100px;
    /*margin-bottom: 50px;*/
    font-weight: bold;
    color: white;
    text-align: justify;
}


@media screen and (max-width: 900px){
    .home-text-main{
        font-size: 22px;
    }
}

.home-icons{
    margin-top: 100px;
    /*margin-top: 100px;*/
    /*padding-bottom: 150px;*/
    display: flex;
    justify-content: center;
    /*max-width: 1500px;*/
    margin-left: auto;
    margin-right: auto;
    /*flex-wrap: wrap;*/
    max-width: 1000px;
    height: 300px;

}


.iconcontainer{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 50px;*/
    /*margin-top: 50px;*/
    /*width: 200px;*/
    /*height: 100px;*/

    opacity: 0;
    /*margin-top: 50px;*/
}

@-webkit-keyframes icon-opac {
    from {opacity: 0}
    to {opacity: 1}
}


.iconcontainer div{
    position: relative;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(185, 192, 201, 0);
    /*margin: 5px;*/
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    /*box-shadow: 0 0 5px 5px #3686d6;*/
}


.iconcontainer p{
    font-family: 'Metropolis', sans-serif;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    /*font-weight: bolder;*/
    padding-bottom: 100px;
}

.icon1{
    color: white;
    animation: icon-opac 1.5s forwards;
    animation-delay: 1s;
}

.icon2{
    color: white;
    animation: icon-opac 1.5s forwards;
    animation-delay: 2.5s;
    margin-top: -100px;

}

.icon3{
    color: white;
    animation: icon-opac 1.5s forwards;
    animation-delay: 4s;
}

.icon4{
    color: white;
    animation: icon-opac 1.5s forwards;
    animation-delay: 5.5s;
    margin-top: -100px;


}

.icon5{
    color: white;
    animation: icon-opac 1.5s forwards;
    animation-delay: 7s;
}


.mySlides {
    display: flex;
}

.mySlides img{

    -webkit-filter: brightness(90%) hue-rotate(10deg);
    filter: brightness(90%) hue-rotate(10deg);
    width: 100%;
    height: 100%;

}

.slideshow-container {
    max-width: 100%;

}


/* Next & previous buttons */
.prev, .next {
    display: none;
    cursor: pointer;
    position: absolute;
    /*top: 50%;*/
    width: auto;
    padding: 16px;
    margin-top: 15%;
    color: white;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 3;
}

/* Position the "next button" to the right */
.next {
    /*margin-left: 95%;*/
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(252,252,252,252.252);
    color: #224a73;
}




/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.wall-learn-more{
    /*position: absolute;*/
    margin-top: -80px;
    /*margin-bottom: 80px;*/
    z-index: 1;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: opac 2s forwards;
}

@keyframes opac {
    0%{opacity: 0; margin-left: -500px}
    100%{opacity: 1; margin-left: 0}
}

.wall-button-learn-more{
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: Transparent;
    border: 1px solid white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 3px 2px white;
    color: white;
    /*position: absolute;*/

}

.wall-button-learn-more:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #1a84b8, #1a8cb8, #1a94b8, #1a9cb8, #1aa4b8);
    /*font-size: 18px;*/
    transition: 0.6s;
    color: white;
    border-color: #1a94b8;
    box-shadow: 0 0 3px 2px #1a94b8;

}

.wall-button-learn-more:focus{
    outline: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
}


.intro-container {
    background-color: #fcfeff;
    display: flex;
    justify-content: center;

}

.intro{
    /*width: 1300px;*/
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: justify;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}


.news-title-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: #fcfeff;
}

.news-title{
    font-family: 'Metropolis', sans-serif;
    font-weight: bolder;
    /*width: 1250px;*/
    /*font-weight: bold;*/
    font-size: 40px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.news-main-container{
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    height: auto;
    overflow: hidden;
    background-color: #fcfeff;
}


#news-slider{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.news-div-container{

}

.news-div{
    /*max-width: 1500px;*/
    display: flex;
    flex-wrap: wrap;
    /*float: left;*/
    justify-content: center;
}

.news-container {
    max-width: 500px;
    margin-right: 50px;
    /*padding-right: 50px;*/
    /*float: left;*/
}



.news-desc{
    /*padding-top: 100px;*/
    margin-top: 100px;
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.news-desc-brief{
    /*margin-top: 20px;*/
    font-size: 18px;
    font-weight: bold;
    color: black;
    height: 60px;
}

.news-learn-more2{
    display: none;
}


.news-body{
    /*margin-top: 20px;*/
    font-size: 16px;
    color: black;
    height: 200px;
}

.news-learn-more {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /*margin-top: 50px;*/
    /*padding-top: 50px;*/
}

.news-button-learn-more{
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: Transparent;
    border: 2px solid #3686d6;
    border-radius: 20px 20px 20px 20px;
    color: black;
    /*margin-top: 20px;*/

}

.news-learn-more2{
    display: none;
}



.news-button-learn-more:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #1a84b8, #1a8cb8, #1a94b8, #1a9cb8, #1aa4b8);
    /*font-size: 18px;*/
    color: white;
    border-color: #1a94b8;
    /*box-shadow: 0 0 3px 2px #1a94b8;*/
}

.news-button-learn-more:focus{
    outline: 0;
}

.news-img{
    /*float: right;*/
    max-width: 700px;
    margin-top: 100px;
    display: flex;
    justify-content: center;

}

.news-pic{
    /*display: flex;*/
    width: 100%;
    height: 95%;
    border: 1px solid #111;
    box-shadow: 0 0 2px 2px #aaa;
    border-radius: 10px 10px 10px 10px;
    /*height: 100%;*/
}

@media screen and (max-width: 1304px) {
    .news-learn-more{
        display: none;
    }

    .news-img{
        margin-top: 0;
        margin-bottom: 50px;
    }
    .news-learn-more2{
        display: flex;
        justify-content: center;
    }

    .news-container{
        margin-left: 50px;
    }
}


.prev1, .next1 {
    display: none;
    cursor: pointer;
    position: absolute;
    /*top: 50%;*/
    width: auto;
    padding: 16px;
    margin-top: 200px;
    color: black;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 3;
}

.prev1{
    /*margin-left: -950px;*/
    left: 0;

}

/* Position the "next button" to the right */
.next1 {
    /*margin-left: 950px;*/
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover, .next1:hover {
    background-color: rgba(252,252,252,252.252);
    color: #224a73;
}

.fade1 {
    -webkit-animation-name: fade1;
    -webkit-animation-duration: 2s;
    animation-name: fade1;
    animation-duration: 2s;
}

@-webkit-keyframes fade1 {
    from {opacity: .7;}
    to {opacity: 1;}
}

@keyframes fade1 {
    from {opacity: .7;}
    to {opacity: 1;}
}

.research-title-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-image: linear-gradient(to bottom, #000817, #000d24, #001336);

}

.research-title{
    font-family: 'Metropolis', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    /*font-weight: bold;*/
    font-size: 40px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;

}

.research-main-container{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #001336, #00163d, #001136, #001b4a, #001e52, #002361, #00276b);
    /*margin: auto;*/

}

#research-slider{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 100px;
}

.research-div-container{
    /*height: 650px;*/
}

.research-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/

}


.research-container {

    margin-bottom: 150px;
    max-width: 500px;
    /*margin-left: 50px;*/

}

.research-desc{

    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

.research-body{
    height: 200px;
    margin-top: 10px;
    font-size: 16px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.research-learn-more {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.research-button-learn-more{
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: Transparent;
    border: 2px solid #3686d6;
    border-radius: 20px 20px 20px 20px;
    color: white;



}

.research-button-learn-more:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #1a84b8, #1a8cb8, #1a94b8, #1a9cb8, #1aa4b8);
    color: white;
    border-color: #1a94b8;
}

.research-button-learn-more:focus{
    outline: 0;
}

.research-img{
    margin-right: 50px;
    max-width: 700px;
    /*max-height: 100%;*/
    display: flex;
    justify-content: center;
}

.research-pic{
    /*display: flex;*/
    /*justify-content: center;*/
    width: 100%;
    height: 65%;
    /*height: 100%;*/
    border: 1px solid #666;
    box-shadow: 0 0 2px 2px #aaa;
    border-radius: 10px 10px 10px 10px;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
}

@media screen and (max-width: 1304px) {
    .research-pic{
        height: 95%;
    }
    .research-img{
        margin-bottom: 50px;
        margin-right: 1%;
        margin-left: 1%;
    }
    .research-learn-more{
        margin-top: 30px;
    }
}


#modimg:hover{
    cursor: pointer;
    opacity: 0.8;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1800px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


.research-prev, .research-next {
    display: none;
    cursor: pointer;
    position: absolute;
    /*top: 50%;*/
    width: auto;
    padding: 16px;
    margin-top: 100px;
    color: white;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 3;
}

.research-prev{
    left: 0;

}

/* Position the "next button" to the right */
.research-next {
    /*margin-left: 950px;*/
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.research-prev:hover, .research-next:hover {
    background-color: rgba(252, 252, 252, 252);
    color: #224a73;
}

.research-fade {
    -webkit-animation-name: research-fade;
    -webkit-animation-duration: 2s;
    animation-name: research-fade;
    animation-duration: 2s;
}

@-webkit-keyframes research-fade {
    from {opacity: .7;}
    to {opacity: 1;}
}

@keyframes research-fade {
    from {opacity: .7;}
    to {opacity: 1;}
}

.project-title-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: #fcfeff;
}

.project-title{
    font-family: 'Metropolis', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    /*width: 1250px;*/
    /*font-weight: bold;*/
    font-size: 40px;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

.project-main-container{
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    background-color: #fcfeff;

}

#project-slider{
    display: flex;
    margin-bottom: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 1304px) {
    #project-slider{
        display: flex;
        margin-bottom: 150px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
.project-div-container{
    /*height: 650px;*/
}

.project-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/

}

.project-container {
    max-width: 500px;
    margin-right: 50px;
}

.project-desc{
    margin-top: 100px;
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.deel-ex{
    font-size: 20px;
    text-align: left;
}

.project-body{
    margin-top: 30px;
    font-size: 16px;
    color: black;
}

.project-learn-more {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.project-learn-more2{
    display: none;
}

.project-button-learn-more{
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: Transparent;
    border: 2px solid #3686d6;
    border-radius: 20px 20px 20px 20px;
    color: black;

}

.project-button-learn-more:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #1a84b8, #1a8cb8, #1a94b8, #1a9cb8, #1aa4b8);
    /*font-size: 18px;*/
    color: white;
    border-color: #1a94b8;
}

.project-button-learn-more:focus{
    outline: 0;
}

.project-img{
    max-width: 700px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.project-pic{
    display: flex;
    justify-content: center;
    width: 700px;
    height: 350px;
    border: 1px solid #111;
    box-shadow: 0 0 2px 2px #aaa;
    border-radius: 10px 10px 10px 10px;
    /*box-shadow: 0 0 5px 2px #fff;*/
}

@media screen and (max-width: 1304px) {
    .project-learn-more2{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .project-learn-more{
        display: none;
    }

}


.project-prev, .project-next {
    display: none;
    cursor: pointer;
    position: absolute;
    /*top: 50%;*/
    width: auto;
    padding: 16px;
    margin-top: 200px;
    color: black;
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 3;
}

.project-prev{
    /*margin-left: -950px;*/
    left: 0;

}

/* Position the "next button" to the right */
.project-next {
    /*margin-left: 950px;*/
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.project-prev:hover, .project-next:hover {
    background-color: rgba(252,252,252,252.252);
    color: #224a73;
}

.project-fade {
    -webkit-animation-name: project-fade;
    -webkit-animation-duration: 2s;
    animation-name: project-fade;
    animation-duration: 2s;
}

@-webkit-keyframes project-fade {
    from {opacity: .7;}
    to {opacity: 1;}
}

@keyframes project-fade {
    from {opacity: .7;}
    to {opacity: 1;}
}


.tr-title-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    /*background-color: #fcfeff;*/
    background-image: linear-gradient(to bottom, #0c1a29, #102336);

}

.tr-title{
    font-family: 'Metropolis', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    /*width: 1250px;*/
    font-size: 40px;
    color: white;
    /*background-color: #fcfeff;*/
    margin-left: 20px;
    margin-right: 20px;
}

.tr-body-container-div{
    background-image: linear-gradient(to bottom, #102336, #152e47, #1a3857, #20476e, #24517d);
    /*background-color: #fcfeff;*/
    display: flex;
    justify-content: center;
}

.tr-body-container{
    /*background-color: #fcfeff;*/
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    margin-bottom: 150px;
}


.mySlides-tr {
    max-width: 700px;
}

.mySlides-tr img{
    border: 1px solid #666;
    box-shadow: 0 0 2px 2px #aaa;
    border-radius: 10px 10px 10px 10px;
    /*box-shadow: 0 0 5px 5px #fff;*/
    width: 100%;
    /*height: 20%;*/
    /*max-height: 350px;*/
}

.tr-slideshow-container {
    position: relative;
    margin-top: 100px;
    margin-right: 50px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.tr-body-text-container{
    max-width: 500px;
    margin-top: 100px;
    /*margin-left: 50px;*/
}

.tr-desc{
    /*height: 100px;*/
    font-size: 20px;
    font-weight: bold;
    color: white;
    /*height: 130px;*/
}


.tr-body-text{
    margin-top: 50px;
    font-size: 16px;
    color: white;

}

.tr-body-img{
    margin-top: auto;
    margin-bottom: auto;
    max-width: 600px;
}

.tr-img{
    /*width: 430px;*/
    /*height: 200px;*/
    /*height: 62.5%;*/
    width: 100%;
    /*height: 100%;*/
    border-radius: 10px 10px 10px 10px;
    /*box-shadow: 0 0 5px 2px #ddd;*/
}

.tr-btn-container{
    display: flex;
    justify-content: center;
}

.tr-learn-more {
    margin-top: 100px;
    width: 150px;

}

.tr-button-learn-more{
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: Transparent;
    border: 2px solid #3686d6;
    border-radius: 20px 20px 20px 20px;
    color: white;
}

.tr-button-learn-more:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #1a84b8, #1a8cb8, #1a94b8, #1a9cb8, #1aa4b8);
    /*font-size: 18px;*/
    transition: 0.6s;
    color: white;
    border-color: #1a94b8;

}

.tr-button-learn-more:focus{
    outline: 0;
}

@media screen and (max-width: 1304px) {
    .tr-slideshow-container {
        margin-right: 1%;
        margin-left: 1%;
    }
}



.semla-title-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: #fcfeff;
    /* background-image: linear-gradient(to bottom, #0c1a29, #102336); */

}

.semla-title{
    font-family: 'Metropolis', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    /*width: 1250px;*/
    font-size: 40px;
    color: black;
    /*background-color: #fcfeff;*/
    margin-left: 20px;
    margin-right: 20px;
}

.semla-body-container-div{
    /* background-image: linear-gradient(to bottom, #102336, #152e47, #1a3857, #20476e, #24517d); */
    background-color: #fcfeff;
    display: flex;
    justify-content: center;
}

.semla-body-container{
    /*background-color: #fcfeff;*/
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    margin-bottom: 150px;
}


.mySlides-semla {
    display: none;
    max-width: 700px;
}

.mySlides-semla img{
    border: 1px solid #666;
    box-shadow: 0 0 2px 2px #aaa;
    border-radius: 10px 10px 10px 10px;
    /*box-shadow: 0 0 5px 5px #fff;*/
    width: 100%;
    /*height: 20%;*/
    /*max-height: 350px;*/
}

.semla-slideshow-container {
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.semla-body-text-container{
    max-width: 500px;
    margin-top: 100px;
    /*margin-left: 50px;*/
}

.semla-desc{
    /*height: 100px;*/
    font-size: 20px;
    font-weight: bold;
    color: black;
    /*height: 130px;*/
}


.semla-body-text{
    margin-top: 50px;
    font-size: 16px;
    color: black;

}

.semla-body-img{
    margin-top: auto;
    margin-bottom: auto;
    max-width: 600px;
}

.semla-img{
    /*width: 430px;*/
    /*height: 200px;*/
    /*height: 62.5%;*/
    width: 100%;
    /*height: 100%;*/
    border-radius: 10px 10px 10px 10px;
    /*box-shadow: 0 0 5px 2px #ddd;*/
}

.semla-btn-container{
    display: flex;
    justify-content: center;
}

.semla-learn-more {
    margin-top: 100px;
    width: 150px;

}

.semla-button-learn-more{
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: Transparent;
    border: 2px solid #3686d6;
    border-radius: 20px 20px 20px 20px;
    color: black;
}

.semla-button-learn-more:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #1a84b8, #1a8cb8, #1a94b8, #1a9cb8, #1aa4b8);
    /*font-size: 18px;*/
    transition: 0.6s;
    color: white;
    border-color: #1a94b8;

}

.semla-button-learn-more:focus{
    outline: 0;
}

@media screen and (max-width: 1304px) {
    .semla-slideshow-container {
        margin-right: 1%;
        margin-left: 1%;
    }
}

.prev2, .next2 {
    display: none;
    cursor: pointer;
    position: absolute;
    /*top: 50%;*/
    width: auto;
    padding: 16px;
    margin-top: -230px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev2:hover, .next2:hover {
    background-color: rgba(252,252,252,252.252);
    color: #224a73;
}




.elements{
    display: flex;
    justify-content: center;
    /*background: radial-gradient(#122a45, white)*/
    background-color: #1a3857;
}

.elements-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.elem{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    max-width: 100px;
    max-height: 100px;
}

@media screen and (max-width: 1400px) {
    .elem{
        margin-left: 50px;
        margin-right: 50px;
    }
}

.elem img{
    display: flex;
    justify-content: center;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    width: 100%;
    height: 100%;
}

.elem p{
    margin-top: 50px;
    font-size: 16px;
    color: lightblue;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

.elem a{
    display: flex;
    justify-content: center;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    text-align: center;
    margin-top: 30px;
    /*margin-left: 28px;*/
    font-size: 14px;
    color: lightblue;
    font-weight: bold;
    text-decoration: none;
}

.elem a:hover{
    color: #1a84b8;
    transition: 0.2s;
}

.elem a:focus{
    outline: 0;
}




.logo {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    background-color: #1a3857;
}

.logo-container{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    /*max-width: 1500px;*/
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
}

.logo-container div{
    padding: 0 15px 0 15px;
}

.logo-container img{
}

.icon-semla {
    padding-top: 10px;
    max-width: 140px;
    max-height: 35px;
}

.icon-ivado{
    padding-top: 10px;
    max-width: 140px;
    max-height: 35px;
}

.icon-poly{
    padding-top: 10px;
    max-width: 150px;
    max-height: 45px;
}

.icon-concordia{
    padding-top: 10px;
    max-width: 140px;
    max-height: 35px;
}

.icon-queens{
    max-width: 100px;
    max-height: 55px;
}

.icon-udem{
    max-width: 110px;
    max-height: 55px;
}




.footer{
    display: flex;
    justify-content: center;
    background-color: #1a3857;
    bottom: 0;

}

.twitter{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
}

.twitter-img{
    width: 60px;
    height: 60px;
}

.copyright{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color: white;
}


/*------------------------------  ABOUT Styles ------------------------------*/

.mySlidessub{
    display: block;
}

.mySlidessub img{

    -webkit-filter: brightness(90%) hue-rotate(10deg);
    filter: brightness(90%) hue-rotate(10deg);
    /*opacity: 0.9;*/
    width: 100%;
    height: 350px;
    margin-top: 0;
}

.wall-title-container{
    display: flex;
    justify-content: center;
    /*max-width: 1250px;*/
}

.wall-title{
    font-family: 'Metropolis', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 48px;
    margin-top: -200px;
    z-index: 1;
    position: absolute;
    /*border-bottom: 1px solid #333;*/
    animation: fadein 4s forwards;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
}

@keyframes fadein {
    0% {opacity: 0}
    100% {opacity: 1}
}


.about-semla-poly-container{
    display: none;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-semla-poly{
    display: flex;
    /*justify-content: center;*/
    /*max-width: 1500px;*/
    width: auto;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;

}

.about-semla-poly-img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 15px 15px;
}

.about-title-container{
    display: none;
    justify-content: center;
}
.about-title{
    font-family: 'Metropolis', sans-serif;
    font-weight: bolder;
    display: flex;
    width: 1500px;
    margin-bottom: 50px;
    font-size: 42px;
    color: #1a3857;
    margin-left: 20px;
    margin-right: 20px;

}

.main-container{
    background-color: #fcfeff;
}

.about-body-text-container{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    margin-top: 50px;
    font-size: 16px;
    /*max-width: 1000px;*/


}

.about-body-text{
    margin-left: 10%;
    margin-right: 10%;
    /*max-width: 1500px;*/
    text-align: justify;
}

.about-body-text a{
    color: #3d668f;
    text-decoration: none;
}

.about-body-text a:hover{
    color: darkblue;
    text-decoration: none;
}

.about-body-text a:focus{
    text-decoration: none;
    outline: 0;
}

.about-body-text a:visited{
    text-decoration: none;
    outline: 0;
    color: #3d668f;
}

/*------------------------------  MEMBER Styles ------------------------------*/


.team-container{
    /*margin-top: 50px;*/
    margin-bottom: 150px;
}

.team-first{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    /*padding-bottom: 50px;*/
}

@media screen and (max-width: 1305px) {
    .team-first{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.team-img-container{
    /*display: flex;*/
    /*justify-content: center;*/
    width: 500px;
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin-left: 2%;*/
    /*margin-right: 5%;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.team-img-main{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-height: 180px;
    max-width: 160px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.team-img{
    filter: grayscale(50%);
    /*margin-left: 30px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    border-radius: 30px 30px 30px 30px;
    /*height: 200px;*/
}




.team-text{
    /*margin-left: 30px;*/
    margin-top: auto;
    margin-bottom: auto;
    color: black;
}

.linkedin-logo{
    width: 30px;
    height: 30px;
}

.member-name{
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.member-name:hover{
    color: black;
}

.member-position{
    font-size: 16px;
    color: #3686d6;
    font-weight: bold;
}

.member-title{
    font-size: 16px;
}

.member-faculty{
    font-size: 14px;
    margin-bottom: 10px;
}

.team-img:hover{
    filter: grayscale(0);
    transition: 0.3s;
}

.team-img-main a:focus{
    outline: 0;
}

.team-container a{
    text-decoration: none;
}

.member-faculty a:visited{
    color: black;
}

.member-faculty a:hover{
    color: #1a3857;
}

.team-container a:focus{
    outline: 0;
}

.team-container a:visited{
    outline: 0;
    color: black;
}







/*------------------------------  JOIN Styles ------------------------------*/


.join-mission-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.join-mission{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: auto;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.join-mission-img{
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 15px 15px;
}

.mission-title-container{
    display: flex;
}
.mission-title{
    font-family: 'Metropolis', sans-serif;
    font-weight: bolder;
    display: flex;
    /*width: 1500px;*/
    margin-bottom: 30px;
    font-size: 42px;
    color: #1a3857;
    margin-left: 10%;
    margin-right: 10%;

}

.mission-body-text-container{
    display: flex;
    /*justify-content: center;*/
    margin-bottom: 50px;
    font-size: 16px;
}

.mission-body-text{
    max-width: 1500px;
    text-align: justify;
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
}

.join-title-container{
    display: flex;
}
.join-title{
    font-family: 'Metropolis', sans-serif;
    font-weight: bolder;
    display: flex;
    margin-bottom: 30px;
    font-size: 42px;
    color: #1a3857;
    margin-left: 10%;
    margin-right: 10%;

}

.join-body-text-container{
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;
    /*max-width: 1500px;*/
}

.join-body-text{
    margin-right: 10%;
    margin-left: 10%;
}

.join-body-text label{
    font-weight: bold;
}

.join-name{
    /*max-width: 1500px;*/
    width: 100%;
    display: flex;

}

.join-name input{
    max-width: 200px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    background-color: #f6f6f6;
    margin-top: 5px;


}

.required:before{
    content: "* ";
    color: red;
}

.join-lastname{
    margin-left: 50px;
}


.join-email{
    margin-top: 30px;
}

.join-email input{
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    background-color: #f6f6f6;
    margin-top: 5px;

}

.join-phone{
    margin-top: 30px;
    /*max-width: 1300px;*/
    /*width: 100%;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

.join-phone input{
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    background-color: #f6f6f6;
    margin-top: 5px;

}

.join-comment{
    margin-top: 30px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*max-width: 1300px;*/
    /*width: 100%;*/
}

.join-comment textarea{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    width: 100%;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    background-color: #f6f6f6;
    margin-top: 5px;
    overflow: scroll;


}

.join-organization{
    margin-top: 30px;
    /*max-width: 1300px;*/
    /*width: 100%;*/
    /*margin-right: 10px;*/
    /*margin-left: 10px;*/
}

.join-organization select{
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    background-color: #f6f6f6;
    margin-top: 5px;
    overflow: scroll;

}

.captcha-container{
    /*display: flex;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*max-width: 1300px;*/
    /*width: 100%;*/
}

.captcha{
    margin-bottom: 30px;
    margin-top: 30px;
}

.join-btn-container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 150px;
    /*margin-left: 10px;*/
}

.join-btn{
    text-align: center;
    max-width: 100px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: Transparent;
    border: 2px solid #3686d6;
    border-radius: 20px 20px 20px 20px;
    color: #444;
    position: absolute;

}

.join-btn:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #1a84b8, #1a8cb8, #1a94b8, #1a9cb8, #1aa4b8);
    /*font-size: 18px;*/
    transition: 0.6s;
    color: white;
    border-color: #1a94b8;

}

.join-btn:focus{
    outline: 0;
}

/*------------------------------  CONTACT Styles ------------------------------*/


.contact-email-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.contact-email-container-main{
    display: flex;
    justify-content: center;
    max-width: 500;
    width: 100%;
}

.contact-email{
    max-width: 750px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.contact-name input{
    padding-left: 10px;
    max-width: 750px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    background-color: #f6f6f6;
    margin-top: 30px;

}

.contact-name textarea{
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    background-color: #f6f6f6;
    margin-top: 30px;
    overflow: scroll;

}

.contact-btn-container{
    display: flex;
    margin-top: 30px;
    padding-bottom: 150px;
}

.contact-btn{
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: Transparent;
    border: 2px solid #3686d6;
    border-radius: 20px 20px 20px 20px;
    color: #444;
    position: absolute;
    margin-bottom: 50px;

}

.contact-btn:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #1a84b8, #1a8cb8, #1a94b8, #1a9cb8, #1aa4b8);
    /*font-size: 18px;*/
    transition: 0.6s;
    color: white;
    border-color: #1a94b8;

}

.contact-btn:focus{
    outline: 0;
}

.contact-semla-info{
    display: none;
    width: 350px;
    padding-top: 30px;
}

.contact-semla-logo{
    display: flex;
    justify-content: center;
}

.contact-semla-img{
    display: flex;
    justify-content: center;
    width: 350px;
    margin-left: 100px;
}

.co-founder-contact{
    margin-top: 35px;
    margin-left: 50px;
}

.co-founder-contact a{
    color: black;
}

.co-founder-contact a:hover{
    color: #3d668f;
}

.co-founder-contact a:focus{
    outline: 0;
}

.co-founder-contact a:visited{
    color: black;
}

.contact-email-name{
    margin-top: 15px;
}

/*------------------------------  ACTIVITIES Styles ------------------------------*/

.activities-three-container{
    /*display: flex;*/
    /*justify-content: center;*/
    display: block;
}

.activities-three{
    display: flex;
    justify-content: center;
    /*max-width: 1200px;*/
    /*width: 100%;*/
    /*heiqght: 400px;*/
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width: 1081px) {
    .activities-three{
        display: block;
    }
}

.activities-three a{
    text-decoration: none;
    color: white;
}

.activities-three a:hover{
    color: #1a84b8;
}

.activities-three a:focus{
    outline: 0;
}


.activities-block{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    min-width: 300px;
    /*width: 100%;*/
    background-color: #1a3857;
    font-size: 33px;
    border: 1px solid #1a3857;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px 5px #1a3857;
    color: white;
    font-weight: bold;
}


.activities-three div:hover{
    opacity: 0.8;
    cursor: pointer;
    transition: 0.2s;
}


.activities-conference-main-container{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 100px;
}

.activities-conference-main-title{
    display: flex;
    font-size: 22px;
    font-weight: bold;

}


.activities-conference-event-title{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.activities-conference-event{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: center;
}

.conference-container{
    margin-left: 10px;
    margin-right: 10px;
    max-width: 400px;
}

.conf-img{
    border: 1px solid #111;
    box-shadow: 0 0 2px 2px #666;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    max-height: 200px;

}

.conf-img:hover{
    opacity: 0.6;
    transition: 0.3s;
}



.conf-text{
    text-align: center;
    height: 100px;
    margin-top: 20px;
}

.conf-learn-more {
    margin-top: 10px;
    margin-bottom: 50px;
    /*margin-top: 50px;*/
    /*padding-top: 50px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    display: flex;
    justify-content: center;
}

.conf-button-learn-more{
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: Transparent;
    border: 2px solid #3686d6;
    border-radius: 20px 20px 20px 20px;
    color: black;
    /*margin-top: 20px;*/

}

.conf-button-learn-more:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #1a84b8, #1a8cb8, #1a94b8, #1a9cb8, #1aa4b8);
    /*font-size: 18px;*/
    color: white;
    border-color: #1a94b8;
    /*box-shadow: 0 0 3px 2px #1a94b8;*/
}

.conf-button-learn-more:focus{
    outline: 0;
}


.activities-conference-past-event-title{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.activities-train-main-container{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 100px;
}

.activities-train-main-title{
    display: flex;
    font-size: 22px;
    font-weight: bold;

}


.activities-train-event-title{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.activities-train-event{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.train-container{
    max-width: 400px;
    margin: auto;
}

.train-img{
    border-radius: 10px 10px 10px 10px;
    width: 100%;

}

.train-text{
    margin-top: 20px;
    text-align: center;
    height: 200px;
}

.train-learn-more {
    margin-top: 10px;
    margin-bottom: 50px;
    /*margin-top: 50px;*/
    /*padding-top: 50px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    display: flex;
    justify-content: center;
}

.train-button-learn-more{
    width: 250px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: Transparent;
    border: 2px solid #3686d6;
    border-radius: 20px 20px 20px 20px;
    color: black;
    /*margin-top: 20px;*/

}

.train-button-learn-more:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #1a84b8, #1a8cb8, #1a94b8, #1a9cb8, #1aa4b8);
    /*font-size: 18px;*/
    color: white;
    border-color: #1a94b8;
    /*box-shadow: 0 0 3px 2px #1a94b8;*/
}

.train-button-learn-more:focus{
    outline: 0;
}


.activities-train-past-event-title{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}


.training-prev, .training-next {
    display: none;
    cursor: pointer;
    position: absolute;
    /*top: 50%;*/
    width: auto;
    padding: 16px;
    margin-top: -230px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.training-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.training-prev:hover, .training-next:hover {
    background-color: rgba(252,252,252,252.252);
    color: #224a73;
}




.activities-collab-main-container{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 100px;
}

.activities-collab-main-title{
    display: flex;
    font-size: 22px;
    font-weight: bold;

}


.activities-collab-event-title{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.activities-collab-event{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.collab-container{
    max-width: 700px;
    margin: auto;
}

.collab-img{
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 450px;

}

.collab-text{
    text-align: center;
    height: 100px;
    margin-top: 20px;
}

.collab-learn-more {
    margin-top: 10px;
    margin-bottom: 50px;
    /*margin-top: 50px;*/
    /*padding-top: 50px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    display: flex;
    justify-content: center;
}

.collab-button-learn-more{
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: Transparent;
    border: 2px solid #3686d6;
    border-radius: 20px 20px 20px 20px;
    color: black;
    /*margin-top: 20px;*/

}

.collab-button-learn-more:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #1a84b8, #1a8cb8, #1a94b8, #1a9cb8, #1aa4b8);
    /*font-size: 18px;*/
    color: white;
    border-color: #1a94b8;
    /*box-shadow: 0 0 3px 2px #1a94b8;*/
}

.collab-button-learn-more:focus{
    outline: 0;
}


.activities-collab-past-event-title{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}




#poster{
    display: none;
}


@media screen and (max-width: 900px) {

    .home-text-main{
        text-align: left;
    }

    .slideshow-container{
        margin-top: 120px;
    }
    .prev, .next{
        margin-top: 40%;
        display: block;
    }

    #topnav{
        padding-left: 0;
    }

    #topnav a{
        font-size: 12px;
    }

    .home-text-main{
        font-size: 28px;
    }

    .nav-right{
        font-size: 12px;
        float: none;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
    }


    .nav-right div{
        padding: 1px;
        border-right: 1px solid #444;
    }

    #topnav .french{
        border-right: 0;
    }

    #topnav .english{
        border-right: 0;
    }

    .iconnav{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .research-prev, .research-next {
        margin-top: 40%;
    }

    .semla-body-text-container{
        padding-left: 0;
    }

    .research-container{
        padding-left: 0;
    }

    .contact-semla-img{
        margin-top: 100px;
        margin-left: 0;
    }

    #poster{
        display: flex;
        justify-content: center;
    }

    #poster1{
        display: flex;
        justify-content: center;
    }


    #deel-vid{
        max-width: 100%;
        height: 250px;
    }

    /*.project-container{*/
    /*    max-width: 500px;*/
    /*}*/

    .prev1, .next1{
        display: block;
    }

    .research-prev, .research-next{
        display: block;
    }

    .project-prev, .project-next{
        display: block;
    }

    .prev2, .next2{
        display: block;
        margin-top: -150px;
    }

    .training-prev, .training-next{
        display: block;
    }

    .mySlidessub img{
        margin-top: -150px;
    }


    @-webkit-keyframes icon-opac {
        from {opacity: 0}
        to {opacity: 1}
    }


    .elements-container{
        display: flex;
    }

    .news-desc{
        margin-top: 100px;
        font-size: 28px;
        font-weight: bold;
        color: black;
        height: 100px;

    }

    .news-desc-brief{
        font-size: 18px;
        font-weight: bold;
        color: black;
        height:80px;
    }


    .news-body{
        font-size: 16px;
        color: black;
        height: 250px;
    }

    .news-learn-more {
        margin-top: 30px;
    }
}

